$backgroundGradient:linear-gradient(132deg, rgba(84,51,255,0.2) 0%, rgba(32,189,255,0.2) 50%, rgba(165,254,203,0.2) 100%);
$h1-font-size: 62px;
$h2-font-size: 50px;
$h3-font-size: 32px;
$h4-font-size: 28px;
$paragraph-font-size: 15px;
$font-color-main: #243976;
$font-highlight-color: linear-gradient(135deg, rgba(255,65,108,1) 0%, rgba(255,75,43,1) 100%);
$button-color: linear-gradient(135deg, rgba(247,151,30,1) 0%, rgba(255,210,0,1) 100%);
$button-active-color: linear-gradient(135deg, rgba(255,177,80,1) 0%, rgba(252,220,69,1) 100%);
$button-text-color: #303273;